body{
    direction: rtl;
    font-family: 'Tahoma, Arial, Courier New';
}

.container{
    width:95%;
    margin: auto;
}

.right-text{
    text-align: right;
}

.left-text{
    text-align: left;
}

.center-text{
    text-align: center;
}


.mt-5{
    margin-top: 30px;
}

.m-4{
    margin: 30px 0;
}

.pl-1{
    padding-left: 20px;
}

.mb-5{
    margin-bottom: 50px !important;
}

.line-height{
    line-height: 2;
}

.float-right{
    float:right;
    width:60%;
}

.float-left{
    float:left;
    width:30%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eee;
    color: #333;
    text-align: center;
  }
